{# We'll get a list of filenames from Ansible #}
{% set json_files = file_list %}  

{% set combined_data = [] %}
{% for file in json_files %}
  {% with open(file) as f %}
    {% set file_data = f.read() | from_json %} 
    {% do combined_data.append(file_data) %}
  {% endwith %}
{% endfor %}

{{ combined_data | to_nice_json(indent=2) }}