{
    "hostname": {{ hostname }} 
    "initialization_output": {{ init_indy_node_result.stdout_lines }}
    "node_ip": {{ hostvars[hostname]['node_ip'] }}
    "client_ip" {{ hostvars[hostname]['client_ip'] }}
}