{
"{{ inventory_hostname }}":{
    "hostname": "{{ inventory_hostname }}",
    "initialization_output": {{ init_indy_node_result.stdout_lines | to_json }},
    "node_ip": {{ hostvars[inventory_hostname]['tf_node_ip'] | to_json  }},
    "client_ip": {{ hostvars[inventory_hostname]['tf_client_ip'] | to_json  }}
    }
},

